.weather-app {
  padding: 25px;
  position: relative;
}

.weather-app.hebrew .modal-content,
.weather-app.hebrew .suggestion-item,
.weather-app.hebrew .input-button,
.weather-app.hebrew .drop-down {
  transform: scaleX(-1);
}

.weather-app.hebrew .modal-button {
  flex-direction: row-reverse; /* зеркальне відображення напрямку рядків */
}

.weather-app.hebrew .modal-content {
  text-align: right; /* праворуч для зеркального відображення тексту */
}

.weather-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  /* 5 columns, min width 250px */
  gap: 30px;
  transition: all 2s ease;
}

.drop-down {
  position: absolute;
  top: 20px;
  /* Adjust the top position as needed */
  right: 20px;
  /* Adjust the right position as needed */
}

.input-block {
  position: relative;
  margin-top: 95px;
  margin-bottom: 120px;
  display: flex;
  justify-content: center;
  gap: 10px;
  height: 40px;
}

.input {
  position: relative;
}

.input-element {
  width: 569px;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 5px;
  border-color: transparent;
  height: 40px;
  box-sizing: border-box;
  font: normal normal normal 14px/20px Jost;
  letter-spacing: 0px;
  color: #000000;
  padding: 10px;
}

.button-container {
  display: flex;
  align-items: center;
  position: relative;
  height: 40px;
}

.input-button {
  width: 112px;
  background: #459DE9;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 5px;
  border-color: transparent;
  cursor: pointer;
  height: 40px;

  font: normal normal normal 14px/20px Jost;
  letter-spacing: 0px;
  color: #FFFFFF;
}

.clear-button {
  position: absolute;
  z-index: -1;
  top: 0;
  right: 0;
  height: 40px;
  width: 60px;
  background-color: red;
  transition: transform 0.5s ease; /* Зменшив тривалість анімації до 0.5 секунди */
  border-radius: 5px;
  border: transparent;
  color: white;
}

.clear-button.show {
  transform: translateX(85%);
}

.weather-app.hebrew .clear-button.show {
  transform: translateX(-170%);
}

.suggestions {
  position: absolute;
  top: 50px;
  left: 0;
  z-index: 1;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  max-height: 200px;
  width: 100%;
  /* Make the suggestions container the same width as the input */
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 5px;
  border-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.suggestion-item {
  cursor: pointer;
  height: 23px;
  display: flex;
  align-items: center;
  padding-top: 2px;
  padding-left: 5px;
  padding-bottom: 1px;

  font: normal normal normal 14px/20px Jost;
  letter-spacing: 0px;
  color: #000000;
}

.suggestion-item:hover {
  background-color: #F2F2F2;
}

.suggestion-item:first-child {
  border-start-start-radius: 5px;
}

.suggestion-item:last-child {
  border-end-end-radius: 5px;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.modal h2 {
  margin-bottom: 10px;
}

.modal p {
  margin-bottom: 20px;
}

.modal-button {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.modal button {
  background-color: #4caf50;
  color: white;
  padding: 10px 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 80px;
}

.modal button:hover {
  background-color: #45a049;
}

.modal button:last-child {
  background-color: #f44336;
}

.modal button:last-child:hover {
  background-color: #d32f2f;
}