.weather__card {
  position: relative;
  padding: 10px 20px 10px 15px;
  background: #FFFAF1;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 5px;
  border-color: transparent;
  opacity: 0;
  animation: fadeIn 1s ease forwards;
  cursor: pointer;
  transition: box-shadow 0.3s ease, transform 0.3s ease;

  &:hover {
    box-shadow: 0px 8px 12px #00000029;
    transform: scale(1.05);
  }
}

.cold__bg {
  background: #F1F2FF 0% 0% no-repeat padding-box;
}

.hebrew {
  direction: rtl;
  text-align: right;
}

.remove__btn {
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
  background-color: transparent;
  border-color: transparent;
  padding: 0;

  &__img {
    height: 20px;
    width: 20px;
  }
}

.top__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.location {
  font: normal normal normal 16px/23px Jost;
  letter-spacing: 0px;
  color: #000000;
}

.description {
  display: flex;
  align-items: center;
  margin-right: 11px;
}

.weather__icon {
  width: 50px;
  height: 50px;
}

.battom__block {
  display: flex;
  justify-content: space-between;
}

.unit__buttons {
  display: flex;
  align-items: flex-start;

  .button {
    background-color: transparent;
    border-color: transparent;
    font: normal normal normal 22px/32px Jost;
    letter-spacing: 0px;
    color: #8D8D8D;
    cursor: pointer;
  }

  .selected {
    font: normal normal normal 22px/32px Jost;
    letter-spacing: 0px;
    color: #000000;
  }
}

.temperature {
  display: flex;

  p {
    font: normal normal normal 44px/64px Jost;
    letter-spacing: 0px;
    color: #000000;
  }
}

.feels__like {
  font: normal normal normal 13px/19px Jost;
  letter-spacing: 0px;
  color: #C5C5C5;

  span {
    font: normal normal 600 13px/19px Jost;
  }
}

.aditional__info {
  display: flex;
  gap: 5px;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;

  font: normal normal normal 14px Jost;
  letter-spacing: 0px;
}

.warm {
  font: normal normal 600 14px Jost;
  letter-spacing: 0px;
  color: #FFA25B;
}

.cold {
  font: normal normal 600 14px Jost;
  letter-spacing: 0px;
  color: #459DE9;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.line {
  width: 1px;
  height: 23px;
  background-color: #000000;
  margin-top: 8px;
}

.geo__img {
  margin-left: 8px;
  width: 15px;
  height: 15px;
}